.banner {
    background: $brand;
    .banner__container {
        @include container();
    }
    .banner__row {
        @include make-row();
    }
    .banner__logo {
        @include make-column(6);
        padding: 20px 20px 20px 30px;
        @include bp(md) {
            @include make-column(1);
            padding: 20px 0;
        }
        a {
            color: white;
        }
    }
    .banner__nav {
        @include bp(md) {
            @include make-column(10);
        }
    }
}

// Main content area
main {
    padding-bottom: 20px;
    article {
        .article__header {
            padding: 10px 0px;
            > * {
                @include container;
            }
            h1 {
                text-align: center;
                color: $brand;
                @include bp(md) {
                    font-size: 32px;
                }
            }
        }
        .article__content {
        }
        .article__container {
            @include container;
            @import "common/block-editor";
        }
    }
}

.footer {
    background-color: $brand;
    color: white;
    .footer__inner {
        @include container();
    }
    .footer__nav {
        ul {
            padding-left: 0;
        }
        li {
            display: inline;
            margin-right: 2%;
        }
        a {
            color: white;
        }
    }
}
