.footer {
    background-color: #f8f9fa;
    text-align: center;

    padding: 5px;

    .nav {
        margin-bottom: 20px;

        .menu-item a {
            display: inline-block;
            padding: 5px 0;
        }
    }
}