.header.-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    padding: 10px 15px;

    background-color: #f8f9fa;

    .logo img {
        width: 60px;
        height: auto;
    }

    
    .nav.-primary {
        display: none;

        flex-basis: 100%;
        flex-grow: 1;

        .nav-link {
            display: inline-block;
            padding: 5px 0;
        }
    }

    .nav.-primary.-open {
        display: block;
    }

    @include bp(md){
        padding: 20px 30px;

        .logo {
            margin-right: 15px;
        }

        .toggle {
            display: none;
        }

        .nav.-primary {
            display: block;

            flex-basis: auto;
            flex-grow: 0;

            ul {
                display: flex;
            }

            .nav-link {
                margin-right: 10px;
                padding: 0;
            }

            .menu-item:last-child .nav-link {
                margin-right: 0;
            }
        }
    }
}
