/*
 * CSS custom properties
 * We can finally spell "colour" correctly 👍
 */
html {
  --primary-colour: #{$primary-colour};
  --secondary-colour: #{$secondary-colour};
  --tertiary-colour: #{$tertiary-colour};
  --link-colour: #{$link-colour};
  --link-hover-colour: #{$link-hover-colour};
  --max-content-width: #{$max-content-width};
  --max-container-width: #{$max-container-width};
}
