$icon-width-facebook: $icon-height * 0.5227; //Use ratio for non-square icons : width/height
$icon-width-youtube: $icon-height * 1.125; //Use ratio for non-square icons : width/height

svg.svg-inline--fa {
    height: $icon-height;
    width: $icon-width;
    &.fa-facebook-f {
        width: $icon-width-facebook;
        path {
            fill: $facebook;
        }
    }
    &.fa-twitter {
        path {
            fill: $twitter;
        }
    }
    &.fa-linkedin {
        path {
            fill: $linkedin;
        }
    }
    &.fa-instagram {
        path {
            fill: $instagram;
        }
    }
    &.fa-youtube {
        width: $icon-width-youtube;
        path {
            fill: $youtube;
        }
    }
    &.fa-pinterest {
        path {
            fill: $pinterest;
        }
    }
}
