/*
 * Base typography
 */

html {
  font-size: 100%;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  @include prop(color, --text-colour);
  background-color: $base-background-colour;
  font-weight: $base-font-weight;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
  font-family: $base-font;
  margin-top: 0;
  margin-bottom: #{$base-line-height}rem;

  &.is-style-underline {
    text-decoration: underline;
  }
}

// Heading-specific sizes
// Use heading classes to change visual display while retaining semantic hierarchy
h1,
.h1,
.wp-block-heading h1 {
  font-size: 1.3125rem;
  line-height: 1.1428;

  @include bp(md) {
    font-size: 2.25rem;
    line-height: 1.1111;
  }

  @include bp(lg){
    font-size: 3rem;
    line-height: 0.9583;
  }
}

h2,
.h2,
.wp-block-heading h2 {
  font-size: 1.125rem;
  line-height: 1.333;

  @include bp(md){
    font-size: 1.5rem;
    line-height: 1;
  }

  @include bp(lg){
    font-size: 1.875rem;
    line-height: 1.333;
  }
}

h3,
.h3,
.wp-block-heading h3 {
  font-size: 1.125rem;
  line-height: 1.333;

  @include bp(md){
    font-size: 1.3125rem;
    line-height: 1.1428;
  }

  @include bp(lg){
    font-size: 1.5rem;
    line-height: 1.333;
  }
}

h4,
.h4,
.wp-block-heading h4  {
  font-size: 1rem;
  line-height: 1.6;

  @include bp(md){
    font-size: 1.125rem;
    line-height: 1.333;
  }
}

h5,
.h5,
.wp-block-heading h5 {
  font-size: 0.875rem;
  line-height: 1.1428;

  @include bp(lg){
    font-size: 1rem;
    line-height: 1.5;
  }
}

h6,
.h6,
.wp-block-heading h6 {
  font-size: 0.875rem;
  line-height: 1.1428;
}

// Paragraphs
p,
.wp-block p  {
  margin: 0 0 #{$base-line-height}rem;

  font-family: $base-font;

  font-size: 0.875rem;
  line-height: 1.7142;

  @include bp(md){
    font-size: 1rem;
    line-height: 1.5;
  }
}

p.has-large-font-size,
.wp-block p.has-large-font-size {
  font-size: 0.875rem;
  line-height: 1.7142;

  @include bp(md){
    font-size: 1.3125rem;
    line-height: 1.5238;
  }

  @include bp(lg){
    font-size: 1.5rem;
    line-height: 1.3333;
  }
}

p.has-small-font-size,
.wp-block p.has-small-font-size {
  font-size: 0.875rem;
  line-height: 1.7142;
}

// Small
small,
.small {
  font-size: 90%;
}

// Unordered and Ordered lists
ul,
ol,
.wp-block ul,
.wp-block ol {
  margin-top: 0;
  margin-bottom: #{$base-line-height}rem;
  ul,
  ol {
    margin-bottom: 0;
  }

  li {
    font-size: 0.875rem;
    line-height: 1.7142;

    @include bp(md){
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  &.is-style-icon {
    list-style-image: url('../img/list-icon.svg');

    li {
      padding-left: 5px;
    }
  }
}

// Links
a,
.wp-block a {
  @include prop(color, --link-colour);
  text-decoration: none;

  &:hover,
  &:focus {
    @include prop(color, --link-hover-colour);
    text-decoration: underline;
  }
}

// Blockquotes and citations
blockquote {
  margin: #{$base-line-height}rem 0px;
  position: relative;
  padding: 20px 3em;
  border-left: 2px solid;
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
cite {
  display: block;
  font-style: normal;
}
