@use "../utils/variables" as v;
@use "../utils/mixins/colours" as c;
@use "../utils/mixins/bp";

/*
 * Base typography
 */

html {
    font-size: 100%;
    font-size: v.$base-font-size;
    line-height: v.$base-line-height;
}

body {
    font-family: v.$base-font;
    font-size: v.$base-font-size;
    @include c.colour(--body-text);
    background-color: v.$base-background-colour;
    font-weight: v.$base-font-weight;
}

// Headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: v.$base-font;
    margin-top: 0;
    margin-bottom: #{v.$base-line-height}rem;

    &.is-style-underline {
        text-decoration: underline;
    }

    &[id] {
        scroll-margin-top: 2rem;
    }
}

// Heading-specific sizes
h1,
.h1 {
    font-size: 1.3125rem;
    line-height: 1.14;

    @include bp.bp(md) {
        font-size: 2.25rem;
        line-height: 1.11;
    }

    @include bp.bp(lg) {
        font-size: 3rem;
        line-height: 0.95;
    }
}

h2,
.h2 {
    font-size: 1.125rem;
    line-height: 1.33;

    @include bp.bp(md) {
        font-size: 1.5rem;
        line-height: 1;
    }

    @include bp.bp(lg) {
        font-size: 1.875rem;
        line-height: 1.33;
    }
}

h3,
.h3 {
    font-size: 1.125rem;
    line-height: 1.33;

    @include bp.bp(md) {
        font-size: 1.3125rem;
        line-height: 1.14;
    }

    @include bp.bp(lg) {
        font-size: 1.5rem;
        line-height: 1.33;
    }
}

h4,
.h4 {
    font-size: 1rem;
    line-height: 1.6;

    @include bp.bp(md) {
        font-size: 1.125rem;
        line-height: 1.33;
    }
}

h5,
.h5 {
    font-size: 0.875rem;
    line-height: 1.14;

    @include bp.bp(lg) {
        font-size: 1rem;
        line-height: 1.5;
    }
}

h6,
.h6 {
    font-size: 0.875rem;
    line-height: 1.14;
}

// Paragraphs
p,
p.has-regular-font-size {
    margin: 0 0 #{v.$base-line-height}rem;
}

p,
p.has-regular-font-size,
.td-button {
    font-family: v.$base-font;
    font-size: 0.875rem;
    line-height: 1.7;

    @include bp.bp(md) {
        font-size: 1rem;
        line-height: 1.5;
    }
}

p.has-small-font-size {
    font-size: 0.875rem;
    line-height: 1.7;
}

p.has-large-font-size {
    font-size: 0.875rem;
    line-height: 1.7;

    @include bp.bp(md) {
        font-size: 1.3125rem;
        line-height: 1.5;
    }

    @include bp.bp(lg) {
        font-size: 1.5rem;
        line-height: 1.33;
    }
}

// Drop cap suppression in editor
p.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-size: 8.4em;
	line-height: 0.68;
	font-weight: 100;
	margin: 0.05em 0.1em 0 0;
	text-transform: uppercase;
	font-style: normal;
}

p.has-background {
	padding: 1.25rem 2rem;
}

p.has-text-color a {
	color: inherit;
}

// Small text
small,
.small {
    font-size: 90%;
}

ul {
    list-style-type: disc;
}

// Lists
ul,
ol {
    margin-top: 0;
    margin-bottom: #{v.$base-line-height}rem;
    padding-left: 0;

    ul,
    ol {
        margin-bottom: 0;
    }

    li {
        font-size: 0.875rem;
        line-height: 1.7;

        @include bp.bp(md) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}

// Links
a:not([class|=acf]){
    @include c.colour(--link);
    text-decoration: none;

    &:hover,
    &:focus {
        @include c.colour(--link-hover);
        text-decoration: underline;
    }
}
