.block-wrapper {
	--gutter: 1rem;
	--offset: calc((100% - var(--max-container-width)) / 2);
	display: grid;
	gap: var(--gutter) 0;
	grid:
		auto /
		[start]
		minmax(var(--gutter), var(--offset))
		[container-start]
		minmax(auto, 1fr)
		[content-start]
		auto
		[content-end]
		minmax(auto, 1fr)
		[container-end]
		minmax(var(--gutter), var(--offset))
		[end];

	& > * {
		grid-column: content-start / content-end;
		max-width: var(--max-content-width);
		margin-top: 0;
		margin-bottom: 0;
	}
	& > .alignwide {
		grid-column: container-start / container-end;
		max-width: var(--max-container-width);
		justify-self: center;
	}
	& > .alignfull {
		grid-column: start / end;
		max-width: unset;
	}
}
