[class*="wp-block-embed"] {
  &[class*="-youtube"] {
    .wp-block-embed__wrapper:before {
      display: none !important;
    }
  }
  // YouTube block iframe styling
  &[class*="-youtube"],
  &.is-type-video {
    .embed__container {
      @apply relative block h-0 p-0 overflow-hidden;
      padding-bottom: 56.25% !important;

      iframe {
        @apply absolute inset-0 border-0;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  // Twitter block iframe styling
  &[class*="-twitter"] {
    iframe {
      width: 100% !important;
    }
  }

  // Instagram block iframe styling
  &[class*="-instagram"] {
    iframe {
      min-width: 100% !important;
    }
  }

  // Wordpress block iframe styling
  &[class*="-wordpress"] {
    iframe {
      width: 100% !important;
    }
  }

  @include bp($max: sm) {
    // Facebook block iframe styling for mobile
    &[class*="-facebook"] {
      .fb_iframe_widget span,
      .fb_iframe_widget iframe {
        width: 100% !important;
      }
    }
  }
}
