[class*="wp-block-embed"] {
  &[class*="-youtube"] {
    .wp-block-embed__wrapper:before {
      display: none !important;
    }
  }
  // YouTube block iframe styling for mobile
  &[class*="-youtube"],
  &.is-type-video {
    .embed__container {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
      padding-bottom: 56.25% !important;

      iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
      }
    }
  }

  // Instagram block iframe styling for mobile
  &[class*="-instagram"] {
    iframe {
      min-width: 100% !important;
    }
  }
  // Wordpress block iframe styling for mobile
  &[class*="-wordpress"] {
    iframe {
      width: 100% !important;
    }
  }
}
