@use "../utils/variables" as v;
@use "../utils/mixins/bp";
@use "../utils/mixins/containers" as c;

.footer {
	background-color: v.$grey-2;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	.nav {
		margin-bottom: 1.5rem;
		.menu-item a {
			display: inline-block;
			margin: 5px 0;
		}
	}

	.left {
		margin-bottom: 1rem;

		@include bp.bp(md){
			margin-bottom: 0;
		}
	}

	.copyright {
		@include c.alignwide;

		p {
			margin-bottom: 0;
		}
		@include bp.bp(md) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
}
