form {
	textarea,
	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	select,
	input[type="color"] {
		width: 100%;
		font-weight: 400;
		min-height: 50px;
		background: white;
		border-radius: 0.25rem;
		border: 1px solid $grey-7;

		&.highlighted {
			background: #fffdea !important;
		}
		.gfield_error & {
			background: white !important;
		}
	}

	input[type="checkbox"] {
		@include custom-checkbox();
	}
}
