// Minimal Gravity Forms styling suggestions
// Avoids a complete overwrite and avoids turning off GF CSS
.gform_wrapper ul {
    // @extend .list-unstyled;
  }
  .gform_wrapper li {
    // @extend .form-group;
  }
  .gform_wrapper form {
    margin-bottom: 0;
  }
  .gform_wrapper .gfield_required {
    padding-left: 1px;
    // color: $state-danger-text;
  }
  .ginput_container input,
  .ginput_container select,
  .ginput_container textarea {
    //   @extend .form-control;
    // background-color: white;
  }
  .ginput_container textarea {
    height: auto;
  }
  .gform_button {
      @include button-variant(white, $brand, green);
  }

  
  .gform_wrapper .gfield_error {
    textarea, 
    input[type="text"], 
    input[type="number"],
    input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	select,
	
	{
      // border:3px red solid!important;
    }
  }

  //   input,
  //   select,
  //   textarea {
  //     border-color: $alert-danger-border;
  //     background-color: $alert-danger-bg;
  //     color: $alert-danger-text;
  //     @include form-control-focus($alert-danger-text);
  //   }
  // }
  // 
  // 
  .validation_error {
      // @extend .alert;
      // @extend .alert-danger;
  }
  #gforms_confirmation_message {
      // @extend .alert;
      // @extend .alert-success;
  }
  .gform_confirmation_message {
      min-height: 200px;
      text-align: center;
  }

.gform_wrapper {
	margin-top: 10px;
	.gform_body {
		.gform_fields {
			.gfield {
				padding:10px;
				margin-top: 10px;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/*Gform element styles*/
.ginput_container_radio {
	.gfield_radio {
		li {
			overflow: visible!important;
			padding-bottom: 1px;
			input {

				visibility: hidden!important;
				position: absolute;
				&:checked + label {
					font-weight: normal;
					&:before {
						background-color: $brand;
					}
					&:after {
						content: "";
						left: 2px;
						top: 7px;
						height: 6px;
						width: 6px;
						background-color: white;
					}
					@-moz-document url-prefix() {
					    &:after {
							left: 6px;
							top: 4px;
						}
					}
				}
			}
			label {
				position: relative;
				padding-left: 30px!important;
				margin-left: 0;
				&:before,
				&:after {
					position: absolute;
					display: inline-block;
					border-radius: 50%;
				}
				&:before {
					content: "";
					left: -5px;
					top: 0;
					height: 20px;
					width: 20px;
					border: 1px solid black;
					background-color: white;
				}

				@-moz-document url-prefix() {
				    &:before {
						top: 0px;
						left: 0px;
					}
				}
				@-moz-document url-prefix() {
				    &:after {
						left: 7px!important;
						top: 7px!important;
					}
				}
			}
		}
	}
}
