.header.-primary {
    background-color: $grey-2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .content {
        @include alignwide;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include bp(md){
            flex-wrap: nowrap;
        }
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    .toggle {
        background-color: transparent;
        border: 1px solid $grey-5;
        border-radius: 5px;
    }

    .nav-container {
        width: 100%;

        @include bp(md){
            display: block;
        }
    }

    @include bp(md) {
        .logo {
            margin-right: 15px;
        }

        .toggle {
            display: none;
        }
    }
}

.wrapper {
    > header {
        margin-top: 32px;
    }
}
