.mfp-arrow {
  opacity: 1;

  &:active {
    margin-top: -50px;
  }

  &:before {
    border: 27px solid #fff;
    border-radius: 50%;
  }

  &:after {
    top: 13px;
  }

  &.mfp-arrow-left:before,
  &.mfp-arrow-right:before {
    background: #fff;
    border: none;
    border-radius: 50%;
    margin-left: 18px;
    opacity: 1;
    height: 50px;
    width: 50px;
  }

  &.mfp-arrow-left:after,
  &.mfp-arrow-right:after {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

  &.mfp-arrow-left:after {
    left: 7px;
    top: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.mfp-arrow-right:after {
    left: -5px;
    top: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
