.nav.-primary {
    @apply md:block md:w-auto;

    ul {
        @apply list-none m-0 p-0;
    }
    & > ul {
        @apply md:flex;
    }
    & .sub-menu {
        @apply bg-white shadow;
    }
    li {
        @apply relative;
    }
    li .sub-menu {
        @apply md:absolute top-full;
    }
    li .sub-menu .sub-menu {
        @apply md:top-0 left-full;
    }
    .dropdown {
        @apply border-0 bg-transparent cursor-pointer;
    }
    a,
    .dropdown {
        @apply py-4 px-8 block no-underline;
        color: inherit;

        &:hover,
        &[aria-expanded="true"] {
            background: #eee;
        }
        &.dropdown::after {
            @apply inline-block ml-2 align-middle;
            
            content: "";
            border: 0.25rem solid transparent;
            border-bottom: 0;
            border-top-color: currentColor;
        }
        &.dropdown[aria-expanded="true"]::after {
            border: 0.25rem solid transparent;
            border-top: 0;
            border-bottom-color: currentColor;
        }

        &[aria-expanded="false"] + .sub-menu {
            @apply hidden;
        }
    }
}
