.post-password-form {
    input[type="password"] {
        max-width: 350px;
        display: block;
    }

    input[type="submit"] {
        @include button;
        @include button-colours(--primary);
        margin-top: 1rem;
        display: block;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}