@use "../utils/mixins/buttons" as b;

.post-password-form {
    input[type="password"] {
        max-width: 350px;
        display: block;

        padding: 0.5rem 1rem;
    }

    input[type="submit"] {
        @include b.button;
        @include b.button-colours(--primary);
        margin-top: 1rem;
        display: block;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}