.wrapper {
    display: grid;
    gap: var(--vertical-gap) 0;
    /*

[start]                                                                    [end]
|                                                                              |
|                                                                              |
|       [wide-start]    [content-start]  [content-end]     [wide-end]          |
+------------------+--------+--------------------+---------+-------------------+
|                  |        |                    |         |                   |
|                  |        +--------------------+         |                   |
|                  |        |                    |         |                   |
|                  |        |    .wrapper > *    |         |                   |
|                  |        |                    |         |                   |
|                  |        +--------------------+         |                   |
|                  |        |                    |         |                   |
|                  +--------+--------------------+---------+                   |
|                  |                                       |                   |
|                  |         .wrapper > .alignwide         |                   |
|                  |                                       |                   |
|                  +--------+--------------------+---------+                   |
|                  |        |                    |         |                   |
+------------------+--------+--------------------+---------+-------------------+
|                                                                              |
|                            .wrapper > .alignfull                             |
|                                                                              |
+------------------------------------------------------------------------------+
*/
    $wide-width: minmax(
        var(--horizontal-gap, 1rem),
        calc((100% - var(--max-container-width)) / 2)
    );
    grid:
        auto /
        [start]
        $wide-width
        [wide-start]
        1fr
        [content-start]
        minmax(auto, var(--max-content-width))
        [content-end]
        1fr
        [wide-end]
        $wide-width
        [end];

    & > * {
        grid-column: content-start / content-end;

        // IE fallback for the block vertical rhythm
        @include ie-only {
            @include prop(max-width, --max-content-width);
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }
    & > .alignwide {
        grid-column: wide-start / wide-end;

        @include ie-only {
            @include prop(max-width, --max-container-width);
        }
    }
    & > .alignfull {
        grid-column: start / end;

        @include ie-only {
            max-width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
