/**
 * Project variables
 *
 * All the Sass variables used throughout the theme. This file shouldn't output
 * any actual CSS on compilation.
 */

/* Colours */

// Base colours
$grey-1: #fafafa;
$grey-2: #f5f5f5;
$grey-3: #eeeeee;
$grey-4: #e0e0e0;
$grey-5: #bdbdbd;
$grey-6: #9e9e9e;
$grey-7: #757575;
$grey-8: #616161;
$grey-9: #424242;
$grey-10: #212121;

/*
 * Colour variables.
 *
 * If you alter variable names, also update EditorColourPalette.php
 * These cascade to block editor colour palette.
 *
 * Sass variables need to be #{interpolated}
 *
 * Don't use --text as this causes a collision with WordPress default classes.
 */
$colour-map: (
    --primary: red,
    --primary-text: #fff,
    --primary-hover: darkred,
    --secondary: green,
    --secondary-text: #fff,
    --secondary-hover: darkgreen,
    --tertiary: pink,
    --tertiary-text: #{$grey-10},
    --tertiary-hover: purple,
    --white: #fff,
    --white-text: #{$grey-10},
    --white-hover: #{$grey-3},
    --body-text: #{$grey-10},
    --body-text-text: #fff,
    --body-text-hover: #{$grey-8},
    --link: blue,
    --link-hover: darkblue
);

/*
 * Layout variables.
 *
 * Used for the wrapper and more layout options.
 */
$layout-map: (
    --horizontal-gap: 1rem,
    --vertical-gap: 2rem,
    --max-content-width: 920px,
    --max-container-width: 1200px
);

/**
 * Z-Index variables.
 * 
 * Z-Indicies should be defined in increments of 5 (avoid 99999999999 etc.)
 */
$z-index-map: (
    cover-block-video-background: 0,
    cover-block-background-gradient: 5,
    cover-block-inner: 5,
    old-cover-block-text: 5,
    screen-reader-text: 100000 // Above WP Toolbar
);

// merge maps to be output in the :root
$root-variables: map-merge($colour-map, $layout-map);

// Base background-color
$base-background-colour: white;

/* Typography */

// Base typography
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: 400;

// Font stacks
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif; // System font stack
$serif: Georgia, "Times New Roman", Times, serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// Default font
$base-font: $sans-serif;

/*
 * Breakpoint variables.
 *
 * Used for bp() mixin and bp() function
 */
$breakpoint-map: (
    sm: 600px,
    md: 900px,
    lg: 1200px,
);

/**
 * SVG icon defaults
 */
$icon-height: 44px; //Recommended minimum size from Apples Human Interface Guidelines
$icon-width: 44px; //Recommended minimum size from Apples Human Interface Guidelines
