// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active

// We're going to do some cleverness with our $variables map and buttons.

@mixin button() {
    padding: 5px;
    border: 2px solid transparent;
    transition: all 0.25s ease;
    border-radius: 4px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
    }
}

@mixin button-colours($color, $background, $border: $background) {
    color: var(#{$color});
    background-color: var(#{$background});
    border-color: var(#{$border});

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: var(#{$color});
        background-color: var(#{$background}-hover);
        border-color: var(#{$border}-hover);
    }
}

@mixin button-variant($color, $background, $border: $background) {
    @include button;
    @include button-colours($color, $background, $border);
}

// Use this to create new button styles, e.g.
//.button--green {
//
//    @include button-variant(white, green, darkgreen);
//
//}

// Standard button
@mixin button__old() {
    @include button-variant(white, $brand, green);
}

@mixin button-unstyled {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    &:active {
        transform: scale(0.99);
    }
    &:focus {
        // outline: 1px solid #fff;
        // outline-offset: -4px;
    }
}
