.gallery-container {
    height: 740px;
    margin-bottom: 35px;
    transition: 0.2s ease all;    
    &.js-thumbnails--active {
        margin-bottom: 170px;
    }
}
.gallery-slider {
    ul {
        margin: 0px;
        position: absolute;
        height: 100%;
    }
    position: absolute;
    width: 940px;
    background: $brand;
    z-index: 99;
    height: 740px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    .img { background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; }
    a.flex-prev {
        @include screen-reader-text();
        position: absolute;
        top: 0px;
        right: 0px;
        width: 60px;
        left: auto;
        bottom: auto;
        margin: 0px;
        height: 79px;
        border-bottom: 1px solid darken($brand, 10%);
        opacity: 1;
        &:before {
            color: #fff;
            font-size: 22px;
              height: 79px;
            line-height: 80px;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    .flex-direction-nav {
        width: 60px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        background: $brand;
        z-index: 999;
    }
    a.flex-next {
        @include screen-reader-text();
        position: absolute;
        top: 80px;
        right: 0px;
        width: 60px;
        left: auto;
        bottom: auto;
        margin: 0px;
        height: 79px;
        border-bottom: 1px solid darken($brand, 10%);
        opacity: 1;
        &:before {
            color: #fff;
            font-size: 22px;
              height: 79px;
            line-height: 80px;
            width: 100%;
            display: block;
            text-align: center;
        }
    }
    .gallery-caption {
        width: 100%;
        padding: 20px 60px 20px 20px;;
        position: absolute;
        bottom: 0px;
        min-height: 80px;
        left: 0px;
        color: #fff;
        font-size: 14px;
        top: auto;
        background: fade(orange, 90%);
        text-align: left;
    }
    .gallery-fullscreen {
        position: absolute;
        display: block;
        bottom: 0px;
        right: 0px;
        width: 60px;
        z-index:9999;
        height: 80px;
        cursor: pointer;
        transition: 0.2s ease all;
        color: #fff;
        font-size: 22px;
        text-align: center;
        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            transition: 0.2s ease all;
        }
        &:hover {
            background: darken($brand, 10%);
            svg {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }
        }
    }
    .gallery-thumbs {
        position: absolute;
        bottom: 80px;
        height: 80px;
        right: 0px;
        width: 60px;
        z-index: 9999;
        overflow: hidden;
        text-align: center;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.2s ease all;
        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            transition: 0.2s ease all;
        }
        &:hover, &.active {
            background: darken($brand, 10%);
            svg {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
            }
        }
    }
    a.flex-next:hover, a.flex-prev:hover {
        background: darken($brand, 10%);
    }
    .gallery-thumbnails {
        display: block;
        width: 100%;
        right: 0px;
        left: 0px;
        bottom: -135px;
        height: 135px;
        background: darken($brand, 10%);
        text-align: center;
        z-index: 9999;
        position: absolute;
        transition: 0.2s ease-in-out all;
        padding: 20px;
        #scroll-thumbs-left,
        #scroll-thumbs-right {
            width: 60px;
            text-decoration: none;
            font-size: 28px;
            position: absolute;
            top: 0;
            bottom: 0;
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                font-size: 28px;
                height: 35px;
                width: 28px;
                color: white;
                transition: 0.2s ease-in-out all;
            }
            &:hover {
                &:before {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                }
            }
        }
        #scroll-thumbs-left {
            left: 0;
            &:before {
                font-family: 'fontawesome-webfont';
                content: "\f053";
                left: 5px;
            }
        }
        #scroll-thumbs-right {
            right: 0;
            &:before {
                font-family: 'fontawesome-webfont';
                content: "\f054";
                right: 5px;
            }
        }
        // Hide overflow: auto scrollbar
        ::-webkit-scrollbar              { display: none; }
        ::-webkit-scrollbar-button       { display: none; }
        ::-webkit-scrollbar-track        { display: none; }
        ::-webkit-scrollbar-track-piece  { display: none; }
        ::-webkit-scrollbar-thumb        { display: none; }
        ::-webkit-scrollbar-corner       { display: none; }
        ::-webkit-resizer                { display: none; }
        
        .gallery-thumbnails__inner {
            width: 90%;
            margin: 0 auto;
            overflow-x: auto;
            .gallery-thumbnails__inner__overflow {
                width: 10000000%;
            }
        }
        .thumb {
            margin-bottom: 20px;
            width: 140px;
            height: 92px;
            cursor: pointer;
            float: left;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &.full-screen--active .gallery-thumbnails {
        display: block;
        width: 200px;
        right: 60px;
        left: auto;
        bottom: 0px;
        background: darken($brand, 10%);
        padding: 20px;
        text-align: center;
        height: 100%;
        overflow: scroll;
        z-index: 9999;
        position: absolute; 
        .gallery-thumbnails__inner {
            .gallery-thumbnails__inner__overflow {
                width: auto;
            }
        }
        .thumb {
            margin-bottom: 20px;
            width: 140px;
            height: 92px;
            cursor: pointer;
            float: none;
            margin-left: 0px;
            margin-right: 0px;
        }
        #scroll-thumbs-left,
        #scroll-thumbs-right {
            display: none;
        }
    }
}