.page__builder {
    .page__builder__container {
        padding: 30px 0px;
    }
    h1,
    h2,
    h3,
    h4,
    {
        text-indent: 2px;
        margin: 15px 0px 5px 0px;
    }
    h2 {
        font-size: 24px;
        margin-top: 0px;
    }
    h3 {
        font-size: 20px;
    }
    .one_column {
        .wysiwyg_editor {
            @include make-column(12);
        }
    }
    .two_column {
        .wysiwyg_editor {
            @include make-column(12);
        }
    }
    .three_column {
        .wysiwyg_editor {
            @include make-column(12);
        }
    }
    .four_column {
        .wysiwyg_editor {
            @include make-column(12);
        }
    }
    .one_column,
    .two_column,
    .third_two_thirds,
    .two_thirds_thirds,
    .three_column,
    .four_column {
        .wysiwyg_editor {
            img {
                @include img-responsive();
            }
        }
    }
    .call_to_action {
        clear: both;
        padding: 20px 0px 10px 0px;
        a {
            //@include button-variant(transparent, 1px solid white);
            float: right;
            margin-top: 5px;
            &:hover {
                background: #fff;
                color: $brand;
            }
        }
    }
    iframe {
        max-width: 100%;
        max-height: 300px;
    }
    .schedule {
        .schedule__inner {
            @include make-column(12);
            h2 {}
            table {
                width: 100%;
                text-align: left;
                thead {
                    background: fade(black, 50%);
                    color: white;
                }
                th,
                td {
                    padding: 8px;
                }
                tr:nth-child(even) {
                    background: $grey-lighter;
                }
            }
        }
    }
    .tablepress tfoot th,
    .tablepress thead th {
        background: fade(black, 50%);
        color: white;
    }
}

.page-slideshow {
    @include clearfix();
}

.bg-cols {
    padding-top: 0px !important; // sorry
    .inner {
        position: relative;
        padding: 10px 20px 80px 20px;
        background: #f3f3f3;
        margin-bottom: 20px;
        h3 {
            font-size: 18px;
        }
        a.button {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }
}

.newsletter {
    background: $brand;
    padding-top: 0px !important; // sorry
    .gform_footer {
        text-align: center;
        clear: none;
        padding: 0;
        margin: 2px 0 0 0;
        .gform_button {
            //@include button-variant(transparent, 1px solid #fff);
            &:hover {
                background: #fff;
                color: black;
            }
        }
    }
}

.quote-cols {
    padding-bottom: 40px !important;
    .inner {
        border-bottom: 5px solid $brand;
        padding: 20px 20px 20px 20px;
        font-size: 18px;
        background: #f4f4f4;
        min-height: 210px;
        blockquote {
            p {
                text-align: left;
            }
        }
    }
    p {
        text-align: center;
    }
    .gform_wrapper {
        li.gfield {
            width: 100%;
        }
    }
}

.accordion__wrapper {
    @include clearfix();
}

.page-slideshow {
    @include clearfix();
    .page-slideshow__inner {
        @include make-column(12);
    }
    .page-slideshow__slick {
        border: 5px solid $brand;
        border-radius: 6px;
    }
    .page-slideshow__item {
        @include bg-cover(480px);
        position: relative;
        p {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
        }
    }
}

.page-gallery {
    .page-gallery__inner {}
    .page-gallery__item {
        @include make-column(6);
        padding: 10px;
    }
    .page-gallery__image {
        min-height: 150px;
        @include bg-cover(150px);
    }
}

@include bp(md) {
    .page__builder {
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
        .two_column {
            .wysiwyg_editor {
                @include make-column(6);
            }
        }
        .third_two_thirds {
            .wysiwyg_editor:first-child {
                @include make-column(4);
            }
            .wysiwyg_editor:last-child {
                @include make-column(8);
            }
        }
        .two_thirds_third {
            .wysiwyg_editor:first-child {
                @include make-column(8);
            }
            .wysiwyg_editor:last-child {
                @include make-column(4);
            }
        }
        .three_column {
            .wysiwyg_editor {
                @include make-column(4);
            }
        }
        .four_column {
            .wysiwyg_editor {
                @include make-column(6);
            }
        }
        .blockquote {
            overflow: hidden;
            .blockquote__inner {
                @include make-column(8);
                @include make-column-offset(2);
            }
        }
        .accordion__wrapper {
            .accordion__inner {
                @include make-column(12);
            }
        }
    }
    .bg-cols {
        .inner {
            min-height: 420px
        }
    }
    .newsletter {
        .gform_body {
            width: 90%;
            float: left;
            input {
                border: 0;
            }
        }
        .gform_footer {
            width: 10%;
            float: left;
            text-align: left;
        }
    }
    .page-gallery {
        .page-gallery__item {
            @include make-column(3);
        }
    }
}

@include bp(lg) {
    .page__builder {
        .four_column {
            .wysiwyg_editor {
                @include make-column(3);
            }
        }
    }
    .bg-cols {
        .inner {
            min-height: 460px
        }
    }
}
