/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--max-content-width);
  /* Post title styling */
  .editor-post-title__input {
    font-family: $base-font !important;
  }
}

/* Main column width */
.wp-block {
  max-width: var(--max-content-width);

  /* Wide column width */
  &[data-align="wide"] {
    max-width: var(--max-container-width);
  }

  /* Full column width */
  &[data-align="full"] {
    max-width: none;
  }
}

// Override video margin-left/right: 0;
.wp-block-video.wp-block {
	margin-left: auto;
	margin-right: auto;
}

// Embedded blocks styling
.wp-block-embed {
  min-width: 100%;

  iframe {
    max-width: 100% !important;
  }
}

// Override the .acf-accordion styles applied by ACF for our Accordion block
.acf-accordion[class*='block-'],
.acf-accordion[class^='block-'] {
    border: 0;
    padding: 0;
    margin: 0;
}

.td-spacer {
	background-color: $grey-3;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
  margin-left: -10px;
  margin-right: -10px;
}

.wp-align-wrapper {
  max-width: 840px;
}

.wp-align-wrapper > .wp-block,
.wp-align-wrapper.wp-align-full {
  max-width: none;
}

.wp-align-wrapper.wp-align-wide {
  max-width: 840px;
}