/* Post title width */
.editor-post-title__block.wp-block {
  max-width: var(--max-content-width);
  /* Post title styling */
  .editor-post-title__input {
    font-family: $base-font !important;
  }
}

/* Main column width */
.wp-block {
  max-width: var(--max-content-width);

  /* Wide column width */
  &[data-align="wide"] {
    max-width: var(--max-container-width);
  }

  /* Full column width */
  &[data-align="full"] {
    max-width: none;
  }
}

// Override video margin-left/right: 0;
.wp-block-video.wp-block {
  @apply mx-auto;
}

// Embedded blocks styling
.wp-block-embed {
  @apply min-w-full;

  iframe {
    max-width: 100% !important;
  }
}

.td-spacer {
  @apply bg-grey-500;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
  @apply -ml-2.5 -mr-2.5;
}

.wp-align-wrapper {
  max-width: 840px;
}

.wp-align-wrapper > .wp-block,
.wp-align-wrapper.wp-align-full {
  @apply max-w-none;
}

.wp-align-wrapper.wp-align-wide {
  max-width: 840px;
}