#adminmenu  {
    li.wp-menu-separator {
        height: 10px;
        padding: 0;
        margin: 0 0 6px 0;
        cursor: inherit;
        border-bottom: 3px rgba(255, 255, 255, 0.2) solid;
    }
}
