// Post Title
.editor-post-title .editor-post-title__input {
    font-family: $base-font;
}
  
// Headings
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
  font-family: $base-font;
  margin-top: 0;
  margin-bottom: #{$base-line-height}rem;

  &.is-style-underline {
    text-decoration: underline;
  }
}

.editor-styles-wrapper .wp-block p,
.editor-styles-wrapper .wp-block ul,
.editor-styles-wrapper .wp-block ol {
  font-family: $base-font;
}

.editor-styles-wrapper .wp-block-heading h1 {
  font-size: 1.3125rem;
  line-height: 1.1428;

  @include bp(md) {
    font-size: 2.25rem;
    line-height: 1.1111;
  }

  @include bp(lg){
    font-size: 3rem;
    line-height: 0.9583;
  }
}

.editor-styles-wrapper .wp-block-heading h2 {
  font-size: 1.125rem;
  line-height: 1.333;

  @include bp(md){
    font-size: 1.5rem;
    line-height: 1;
  }

  @include bp(lg){
    font-size: 1.875rem;
    line-height: 1.333;
  }
}


.editor-styles-wrapper .wp-block-heading h3 {
  font-size: 1.125rem;
  line-height: 1.333;

  @include bp(md){
    font-size: 1.3125rem;
    line-height: 1.1428;
  }

  @include bp(lg){
    font-size: 1.5rem;
    line-height: 1.333;
  }
}


.editor-styles-wrapper .wp-block-heading h4 {
  font-size: 1rem;
  line-height: 1.6;

  @include bp(md){
    font-size: 1.125rem;
    line-height: 1.333;
  }
}

.editor-styles-wrapper .wp-block-heading h5 {
  font-size: 0.875rem;
  line-height: 1.1428;

  @include bp(lg){
    font-size: 1rem;
    line-height: 1.5;
  }
}


.editor-styles-wrapper .wp-block-heading h6 {
  font-size: 0.875rem;
  line-height: 1.1428;
}

// Paragraphs
.editor-styles-wrapper .wp-block p {
  margin: 0 0 #{$base-line-height}rem;

  font-size: 0.875rem;
  line-height: 1.7142;

  @include bp(md){
    font-size: 1rem;
    line-height: 1.5;
  }
}

.editor-styles-wrapper .wp-block p.has-large-font-size {
  font-size: 0.875rem !important;
  line-height: 1.7142;

  @include bp(md){
    font-size: 1.3125rem !important;
    line-height: 1.5238;
  }

  @include bp(lg){
    font-size: 1.5rem !important;
    line-height: 1.3333;
  }
}

// Links
.wp-block a {
  @include prop(color, --link-colour);
  text-decoration: none;

  &:hover,
  &:focus {
    @include prop(color, --link-hover-colour);
    text-decoration: underline;
  }
}

.editor-styles-wrapper .wp-block ul,
.editor-styles-wrapper .wp-block ol {
  margin-top: 0;
  margin-bottom: #{$base-line-height}rem;
  ul,
  ol {
    margin-bottom: 0;
  }

  li {
    font-size: 0.875rem;
    line-height: 1.7142;

    @include bp(md){
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}