.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.v-hidden {
	visibility: hidden;
}

.b1r {
	border: 1px red solid;
}

.b1g {
	border: 1px green solid;
}

.b1g {
	border: 1px orange solid;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}
