@import "common/_reset.scss";
@import "common/_root.scss";
@import "common/_type.scss";

@import "mixins/_index.scss";

article {
  background: var(--primary-colour);
}

article > * {
  @include container;
  & + * {
    margin-top: 1em;
  }
  &.wp-block-quote.is-style-large {
    margin: 0;
    padding: 0;
    background: rebeccapurple;
    max-width: 100%;
    text-align: center;
  }
}
