.td-accordion {
    .toggle {
        width: 100%;
        border: 0;

        text-align: left;
        padding: 0.75rem 1.25rem;

        @include background-color(--primary);
        @include colour(--primary-text);

        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;

        &::after {
            content:"";
            padding: 0.25rem;
            display: inline-block;
            border-style: solid;
            @include prop('border-color', --primary-text);
            border-width: 0 0.25rem 0.25rem 0;

            margin-left: 1.25rem;

            transform: rotate(45deg);
            transition: transform 0.3s;
        }
    }

    .content {
        padding: 0 1.25rem;
    }

    &.-open{
        .toggle::after {
            transform: rotate(225deg);
        }
    }
}