.wp-block-button {
    .wp-block-button__link {
        @include button;

        &:not(.has-text-color):not(.has-background) {
            @include button-colours(--primary-text, --primary);
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            &:not(.has-text-color):not(.has-background) {
                @include button-colours(--primary, transparent, --primary);
            }
        }
    }
}
.link-button {
    @include button;

    @each $prop, $value in $colour-map {
        $name: str-slice($prop, 3);
        &.has-#{$name}-button-color {
            @include button-colours(#{$prop}-text, $prop);
        }
    }
}

/*

.wp-block-button {
    // Default button style
    &:not(.is-style-outline) .wp-block-button__link {
    }

    .wp-block-button__link {
    }

    &.is-style-full {
        width: 100%;

        .wp-block-button__link {
            width: 100%;
        }
    }

    &.is-style-outline .wp-block-button__link {
        // Default outline button style
        &:not(.has-text-color) {
            @include background-colour(--white);
            @include colour(--primary);
        }
    }
}
// set the default background
.wp-block-button__link:not(.has-background) {
    @include background-colour(--primary);
}
// set the default colour
.wp-block-button__link:not(.has-text-color) {
    @include colour(--white);
}
*/
