.td-button {
    // include the button (except colours - these are set seperately)
    @apply p-2 border-2 border-transparent transition-colors rounded appearance-none inline-block text-center align-middle cursor-pointer whitespace-nowrap no-underline text-button-text bg-button-bg border-button-bg hover:no-underline focus:no-underline hover:bg-button-hover focus:bg-button-hover hover:border-button-hover focus:border-button-hover;

    touch-action: manipulation;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214

    &.is-style-outline {
        @apply bg-transparent border-button-bg text-button-bg hover:text-button-text hover:bg-button-bg hover:no-underline focus:no-underline;
    }

    // full width button
    &.is-style-full {
        width: 100%;
    }
}

.td-button.has-primary-button-color {
    --button-colour: red;
    --button-text: #fff;
    --button-hover: darkred;
}

.td-button.has-secondary-button-color {
    --button-colour: green;
    --button-text: #fff;
    --button-hover: darkgreen;
}

.td-button.has-tertiary-button-color {
    --button-colour: pink;
    --button-text: #fff;
    --button-hover: purple;
}