.wp-block-columns {
    display: block;

    .block-editor-inner-blocks {
        width: 100%;
    }

    .wp-block-column {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &.is-vertically-aligned-top {
            align-self: flex-start;
        }
    
        &.is-vertically-aligned-center {
            align-self: center;
        }
    
        &.is-vertically-aligned-bottom {
            align-self: flex-end;
        }
    }

    .wp-block-image .alignright {
        margin-left: 0;
    }

    &.are-vertically-aligned-top {
		align-items: flex-start;
	}

    &.are-vertically-aligned-center {
		align-items: center;
    }
    
    &.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

    @include bp(md){
        display: flex;
        flex-direction: row;

        .wp-block-column {
            margin-bottom: 0;
            margin-left: 25px;
            margin-right: 25px;

            flex-basis: calc(50% - 16px);
            flex-grow: 0;

            &:first-of-type{
                margin-left: 0;
            }

            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    @include bp(lg) {
        .wp-block-column {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

@include bp($max: md) {
    .wp-block-column {
        flex-basis: 100% !important; // To override the inline-style applied by WordPress so the columns stack on mobile
    }
}