.wp-block-file {
	margin-bottom: 1.5em;
    
    &.alignfull {
        padding: 0 16px;
    }
    
    .wp-block-file__button,
    a.wp-block-file__button {
        @include button();
        @include button-colours(--primary);
    }

	* + .wp-block-file__button {
		margin-left: 0.75em;
	}
}