.td-social-links {
    position: relative;
    ul {
        list-style: none;
        display: flex;
    }
    li {
        margin-right: $icon-height * 0.2;
        min-width: $icon-height * 1.1;
        text-align: center;
        line-height: 1px;//Prevent child <a> line-height being taller than SVG and leaving a gap
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        display: block;
    }
}
