@import "../_social-brands";

$icon-height: 44px; //Recommended minimum size from Apples Human Interface Guidelines
$icon-width: 44px; //Recommended minimum size from Apples Human Interface Guidelines
$icon-width-facebook: $icon-height * 0.5227; //Use ratio for non-square icons : width/height
$icon-width-youtube: $icon-height * 1.125; //Use ratio for non-square icons : width/height
$icon-list-item-gap: 10px;

.social-links-block {
    position: relative;
    ul {
        list-style: none;
        display: flex;
        height: $icon-height;
    }
    li {
        margin-right: $icon-height * 0.2;
        min-width: $icon-height * 1.1;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
    }
    svg {
        height: $icon-height;
        width: $icon-width;
        &[data-icon="facebook-f"] {
            width: $icon-width-facebook;
            path {
                fill: $facebook;
            }
        }
        &[data-icon="twitter"] path {
            fill: $twitter;
        }
        &[data-icon="instagram"] path {
            fill: $instagram;
        }
        &[data-icon="linkedin"] path {
            fill: $linkedin;
        }
        &[data-icon="pinterest"] path {
            fill: $pinterest;
        }
        &[data-icon="youtube"] {
            width: $icon-width-youtube;
            path {
                fill: $youtube;
            }
        }
    }
}
