@import "../_social-brands";
$icon-height: 44px;
$icon-width: 44px;
$icon-list-item-gap: 10px;
.social-block {
    position: relative;
    ul {
        list-style: none;
        display: flex;
        height: $icon-height;
    }
    li {
        margin-right: $icon-list-item-gap;
        &:last-child {
            margin-right: 0;
        }
    }
    svg {
        height: $icon-height;
        width: $icon-width;
        &[data-icon="facebook-f"] path{
            fill: $facebook;
        }  
        &[data-icon="twitter"] path{
            fill: $twitter;
        } 
        &[data-icon="instagram"] path{
            fill: $instagram;
        } 
        &[data-icon="pinterest"] path{
            fill: $pinterest;
        } 
        &[data-icon="youtube"] path{
            fill: $youtube;
        } 
    }
    .webshare-button {
        @include button-unstyled;
        svg path {
            fill: red;
        }
    }
}
