@use '../../utils/variables' as v;
@use '../../utils/mixins/buttons' as b;

.td-social-share {
    position: relative;
    ul {
        list-style: none;
        display: flex;
    }
    li {
        margin-right: v.$icon-height * 0.2;
        min-width: v.$icon-height * 1.1;
        text-align: center;
        line-height: 1px;//Prevent child <a> line-height being taller than SVG and leaving a gap
        &:last-child {
            margin-right: 0;
        }
    }
    button {
        @include b.button-unstyled;
    }
    a {
        display: block;
    }
}
