.wp-block-spacer {
	clear: both;
}

.wp-block-custom-blocks-spacer {
	.spacer {
		clear: both;
	
		&.-mobile-only {
			@include bp(md){
				display: none;
			}
		}
	
		&.-tablet-only {
			display: none;
	
			@include bp(md){
				display: block;
			}
			
			@include bp(lg){
				display: none;
			}
		}
		
		&.-desktop-only {
			display: none;
	
			@include bp(lg){
				display: block;
			}
		}
	}
}