.spacer {
	clear: both;

	height: 0.75rem;

	@include bp(md){
		height: 1.5rem;
	}

	&.-medium {
		height: 1.5rem;

		@include bp(md){
			height: 3.125rem;
		}
	}

	&.-large {
		height: 3.125rem;

		@include bp(md){
			height: 6.25rem;
		}
	}
}