.wp-block-table {
    -webkit-overflow-scrolling: auto;

    @include bp($max: sm) {
        grid-column: start / end;
        overflow-x: auto;
        padding: 0 16px;
    }

    &.alignwide {
        @include bp($max: sm) {
            grid-column: start / end;
        }
    }

    &.alignfull {
        padding: 0 16px;
    }

    table {
        border-collapse: collapse;
        min-width: bp(sm);

        td {
            padding: 0.5em;
        }
    }

    table,
    th,
    td {
        border: 1px solid $grey-10;
    }
}
