.wp-block-table {
	$subtle-light-gray: #f3f4f5;
	$subtle-pale-green: #e9fbe5;
	$subtle-pale-blue: #e7f5fe;
	$subtle-pale-pink: #fcf0ef;

    overflow-x: auto;
    -webkit-overflow-scrolling: auto;

	table {
        width: 100%;
        border-collapse: collapse;
        margin-left: 0;
        margin-right: 0;
        min-width: bp(sm);

        td {
            padding: 0.5em;
        }
    }

    table,
    th,
    td {
        border: 1px solid $grey-10;
    }
    

	// Fixed layout toggle
	.has-fixed-layout {
		table-layout: fixed;
		width: 100%;

		td,
		th {
			word-break: break-word;
		}
	}

    &.alignfull {
        padding: 0 16px;
    }

    &.alignwide {
        @include bp($max: sm) {
            grid-column: start / end;
        }
    }

	.has-subtle-light-gray-background-color {
		background-color: $subtle-light-gray;
	}

	.has-subtle-pale-green-background-color {
		background-color: $subtle-pale-green;
	}

	.has-subtle-pale-blue-background-color {
		background-color: $subtle-pale-blue;
	}

	.has-subtle-pale-pink-background-color {
		background-color: $subtle-pale-pink;
	}

	// "Stripes" style variation.
	&.is-style-stripes {
		border-spacing: 0;
		border-collapse: inherit;
		background-color: transparent;

		tbody tr:nth-child(odd) {
			background-color: $grey-2;
		}

		&.has-subtle-light-gray-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-light-gray;
			}
		}

		&.has-subtle-pale-green-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-green;
			}
		}

		&.has-subtle-pale-blue-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-blue;
			}
		}

		&.has-subtle-pale-pink-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-pink;
			}
		}

		th,
		td {
			border-color: transparent;
		}

		border-bottom: 1px solid $grey-2;
    }
    
    @include bp($max: sm) {
        grid-column: start / end;
        overflow-x: auto;
        padding: 0 16px;
    }
}