/**
 * Button mixins.
 *
 * For WordPress to work with buttons more efficiently, we seperate colours from
 * the rest of the button styles. This reduces the amount of duplicate CSS when
 * compiled.
 *
 * Buttons have the class .link-button.
 * Additional classes can be a combination of:
 *   .is-style-full
 *   .is-style-outline
 *   .has-[colour-name]-button-color
*/

/**
 * The button styles.
 */
@mixin button() {
    padding: 0.5rem;
    border: 2px solid transparent;
    transition: all 0.25s ease;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;
    }
}

/**
 * The colours for a regular button.
 */
@mixin button-colours($color) {
    @include colour(#{$color}-text);
    @include background-colour($color);
    @include border-colour($color);

    &:hover,
    &:focus,
    &:active,
    &.active {
        @include colour(#{$color}-text);
        @include background-colour(#{$color}-hover);
        @include border-colour(#{$color}-hover);
    }
}

/**
 * The colours for an outlined button.
 */
@mixin button-outline-colours($color) {
    @include colour($color);
    background-color: transparent;
    border-color: currentColor;

    &:hover,
    &:focus,
    &:active,
    &.active {
        @include colour(#{$color}-text);
        @include background-colour(#{$color}-hover);
        @include border-colour(#{$color}-hover);
    }
}

@mixin button-unstyled {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    &:active {
        transform: scale(0.99);
    }
    &:focus {
        // outline: 1px solid #fff;
        // outline-offset: -4px;
    }
}
