@use "prop" as p;

@mixin _container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@mixin content {
	@include p.prop(max-width, --max-content-width);
	@include _container;
}

@mixin alignwide {
	@include p.prop(max-width, --max-container-width);
	@include _container;
}
