.page {
	article {
		> * {
			@include content;
			& + * {
				margin-top: 1em;
			}
		}
		& > .alignfull {
			max-width: unset;
			padding-right: 0;
			padding-left: 0;
		}
		& > .alignwide {
			@include alignwide;
		}
	}
}
